/* Estilos para la barra de navegación */
.navbar {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  background-color: #f8f9fa;
  position: sticky;
  opacity: 0.95;
}

/* Estilos para el título principal */
.title {
  text-align: center;
  font-size: 50px;
  margin: 30px;
  font-weight: 600;
}

/* Estilos para el subtítulo */
.subtitle {
  text-align: left;
  font-size: 18px;
}

.nombres{
    margin-bottom: 20px;
}

/* Estilos para la descripción */
.description {
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Estilos para la barra de separación */
.separator {
  height: 1px;
  background-color: #545454;
  margin-top: 40px;
  margin-bottom: 40px;
}

.row{
    display: flex;
    justify-content: center;
}

.nombres-nosotros{
    justify-content: center;
}

/* Estilos para el contenedor del formulario */
.input-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Estilos para el contenedor del grafo */
.graph-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

h4.subtitle {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

p.description {
    font-size: 20px;
}

hr.separator {
    height: 2px;
    background-color: #505050;
}

.input-group {}

h1.title {
    font-size: 70px;
}